/* Just an example. Modify as needed. */

html:root {
    --decal: url(https://rosetheflower.github.io/MetroSteam/decals/1.png);
    --decalXY: right top;
    --focus: 0, 114, 198; /* Blue accent */
}

/* Each of the options (variables) below should be inside the curly brackets above to make it active. */

/* Option to disable custom avatar frames
--avatarframes: none;
*/

/* Option to remove the What's New / Library updates section
--whatsnew: none;
*/

/* Accent color ideas (from the original Metro)
--focus: 220, 79, 173;
--focus: 172, 25, 61;
--focus: 210, 71, 38;
--focus: 255, 143, 50;
--focus: 130, 186, 0;
--focus: 0, 138, 23;
--focus: 3, 179, 178;
--focus: 0, 130, 152;
--focus: 93, 178, 255;
--focus: 0, 114, 198;
--focus: 70, 23, 180;
--focus: 140, 0, 149;
*/

/* Decal options:
--decal: url(https://rosetheflower.github.io/MetroSteam/decals/1.png);
--decalXY: right top;

--decal: url(https://rosetheflower.github.io/MetroSteam/decals/2.png);
--decalXY: right bottom;

--decal: url(https://rosetheflower.github.io/MetroSteam/decals/3.png);
--decalXY: right bottom;

--decal: url(https://rosetheflower.github.io/MetroSteam/decals/4.png);
--decalXY: calc(100% - 1px) 3px;

--decal: url(https://rosetheflower.github.io/MetroSteam/decals/5_top.png);
--decalXY: calc(100% - 2px) top;

--decal: url(https://rosetheflower.github.io/MetroSteam/decals/5_bot_sm.png);
--decalXY: right bottom;

--decal: url(https://rosetheflower.github.io/MetroSteam/decals/6.png);
--decalXY: right 41px;

--decal: url(https://rosetheflower.github.io/MetroSteam/decals/decal_steam_btmr.png);
--decalXY: calc(100% - 174px) calc(100% - 79px);
*/


/* Experimental Metro White theme color values and images:

--white05onClientBGtwice: 207, 207, 207;

--W10close_Red_h: 232, 18, 35;
--W10close_Red_p: 241, 112, 121;
--clientBG: 230, 230, 230;
--header_dark: 255, 255, 255;
--frameBorder: 160, 160, 160;
--textentrybuttons: 35, 50, 50;
--online: 66, 104, 255;
--ingame: 94, 150, 15;
--offline: 0, 0, 0, 0.45;
--golden: 255, 255, 99;
--scroll: 0, 0, 0, 0.05;
--textentry: 207, 207, 207;

--white03: 0, 0, 0, 0.03;
--white05: 0, 0, 0, 0.05;
--white08: 0, 0, 0, 0.08;
--white10: 0, 0, 0, 0.10;
--white12: 0, 0, 0, 0.12;
--white15: 0, 0, 0, 0.15;
--white20: 0, 0, 0, 0.20;
--white24: 0, 0, 0, 0.24;
--white25: 0, 0, 0, 0.25;
--white35: 0, 0, 0, 0.35;
--white45: 0, 0, 0, 0.45;
--white50: 0, 0, 0, 0.50;
--white75: 0, 0, 0, 0.75;
--white: 0, 0, 0;

--black03: 255, 255, 255, 0.03;
--black08: 255, 255, 255, 0.08;
--black05: 255, 255, 255, 0.05;
--black10: 255, 255, 255, 0.10;
--black12: 255, 255, 255, 0.12;
--black15: 255, 255, 255, 0.15;
--black20: 255, 255, 255, 0.20;
--black24: 255, 255, 255, 0.24;
--black35: 255, 255, 255, 0.35;
--black25: 255, 255, 255, 0.25;
--black45: 255, 255, 255, 0.45;
--black75: 255, 255, 255, 0.75;
--black: 255, 255, 255;

--forwardicon: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAYAAABPhbxiAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9btSIVwXYQcchQnSyIFnEsVSyChdJWaNXB5NIvaNKQpLg4Cq4FBz8Wqw4uzro6uAqC4AeIq4uToouU+L+k0CLGg+N+vLv3uHsHeJtVphg9MUBRTT2diAu5/Krgf0UfhhFEFFMiM7RkZjEL1/F1Dw9f7yI8y/3cn2NQLhgM8AjEMabpJvEG8eymqXHeJw6xsigTnxNP6nRB4keuSw6/cS7Z7OWZIT2bnicOEQulLpa6mJV1hThKHJYVlfK9OYdlzluclWqdte/JXxgoqCsZrtMcQwJLSCIFARLqqKAKExFaVVIMpGk/7uIftf0pcknkqoCRYwE1KBBtP/gf/O7WKM5MO0mBOND7Ylkf44B/F2g1LOv72LJaJ4DvGbhSO/5aE5j7JL3R0cJHwNA2cHHd0aQ94HIHGHnSRF20JR9Nb7EIvJ/RN+WB4C0wsOb01t7H6QOQpa6Wb4CDQ2CiRNnrLu/u7+7t3zPt/n4AIGdy7EGromUAAAAGYktHRACmAKYApuRk9kYAAAAJcEhZcwAACxMAAAsTAQCanBgAAABZSURBVCjPxdC7DYAwDEXRE1ET1oM52BEK2AmaROIjIBSI29iW3pVsc0+PKdUd1YM4IqJDneYicSu3aDCUilI4yxFjqXhaO6TjMwHLps8sh8xrLr/8iTT/K61sQhRDs82RqwAAAABJRU5ErkJggg==');
--downloadicon: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAOCAYAAAD5YeaVAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9btSIVwXYQcchQnSyIFnEsVSyChdJWaNXB5NIvaNKQpLg4Cq4FBz8Wqw4uzro6uAqC4AeIq4uToouU+L+k0CLGg+N+vLv3uHsHeJtVphg9MUBRTT2diAu5/Krgf0UfhhFEFFMiM7RkZjEL1/F1Dw9f7yI8y/3cn2NQLhgM8AjEMabpJvEG8eymqXHeJw6xsigTnxNP6nRB4keuSw6/cS7Z7OWZIT2bnicOEQulLpa6mJV1hThKHJYVlfK9OYdlzluclWqdte/JXxgoqCsZrtMcQwJLSCIFARLqqKAKExFaVVIMpGk/7uIftf0pcknkqoCRYwE1KBBtP/gf/O7WKM5MO0mBOND7Ylkf44B/F2g1LOv72LJaJ4DvGbhSO/5aE5j7JL3R0cJHwNA2cHHd0aQ94HIHGHnSRF20JR9Nb7EIvJ/RN+WB4C0wsOb01t7H6QOQpa6Wb4CDQ2CiRNnrLu/u7+7t3zPt/n4AIGdy7EGromUAAAAGYktHRACmAKYApuRk9kYAAAAJcEhZcwAACxMAAAsTAQCanBgAAABWSURBVCjP3c45DsAgDETRmZw25v79TxGQ0EBB2lhCLH62MaAM2wDO90sf4v/Ydp3A4ZBUgMaSRNyrO9390HZ4yldWthlnI207vPs6Mf42AAkXnBMy9wCHn37Vv9YKsgAAAABJRU5ErkJggg==');
--friendsicon: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9btSIVwXYQcchQnSyIFnEsVSyChdJWaNXB5NIvaNKQpLg4Cq4FBz8Wqw4uzro6uAqC4AeIq4uToouU+L+k0CLGg+N+vLv3uHsHeJtVphg9MUBRTT2diAu5/Krgf0UfhhFEFFMiM7RkZjEL1/F1Dw9f7yI8y/3cn2NQLhgM8AjEMabpJvEG8eymqXHeJw6xsigTnxNP6nRB4keuSw6/cS7Z7OWZIT2bnicOEQulLpa6mJV1hThKHJYVlfK9OYdlzluclWqdte/JXxgoqCsZrtMcQwJLSCIFARLqqKAKExFaVVIMpGk/7uIftf0pcknkqoCRYwE1KBBtP/gf/O7WKM5MO0mBOND7Ylkf44B/F2g1LOv72LJaJ4DvGbhSO/5aE5j7JL3R0cJHwNA2cHHd0aQ94HIHGHnSRF20JR9Nb7EIvJ/RN+WB4C0wsOb01t7H6QOQpa6Wb4CDQ2CiRNnrLu/u7+7t3zPt/n4AIGdy7EGromUAAAAGYktHRACmAKYApuRk9kYAAAAJcEhZcwAACxMAAAsTAQCanBgAAADeSURBVCjPhdFBSgNBEIXhb4SAWZlbKEEXMWSn6xwheoIQc4vkCpqj6D2CghoxKy+goIiBdlOj7TijBU11vaq/q7taSkm50MYUS7yFP0P7R10FuMQKp+jjJOKrHMyhKe7QqXTfCX1SBy0xyoEsN8J1HfSOfgN0iNcy3vJt99hVb3u4/Yqy08Z4rHlTBw8Y111vO6a0wnFoRwHUTy+KBnhBwk34Zwx+/RNamOED5+iF1sNF6HO0cmiGJ3QbpteN/DxiB9g0ARVwg/0CCxQppYl/rCiKRblfY/hXl6zbEOtPeOcWypSQU1MAAAAASUVORK5CYII=');
--notificationicon: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9btSIVwXYQcchQnSyIFnEsVSyChdJWaNXB5NIvaNKQpLg4Cq4FBz8Wqw4uzro6uAqC4AeIq4uToouU+L+k0CLGg+N+vLv3uHsHeJtVphg9MUBRTT2diAu5/Krgf0UfhhFEFFMiM7RkZjEL1/F1Dw9f7yI8y/3cn2NQLhgM8AjEMabpJvEG8eymqXHeJw6xsigTnxNP6nRB4keuSw6/cS7Z7OWZIT2bnicOEQulLpa6mJV1hThKHJYVlfK9OYdlzluclWqdte/JXxgoqCsZrtMcQwJLSCIFARLqqKAKExFaVVIMpGk/7uIftf0pcknkqoCRYwE1KBBtP/gf/O7WKM5MO0mBOND7Ylkf44B/F2g1LOv72LJaJ4DvGbhSO/5aE5j7JL3R0cJHwNA2cHHd0aQ94HIHGHnSRF20JR9Nb7EIvJ/RN+WB4C0wsOb01t7H6QOQpa6Wb4CDQ2CiRNnrLu/u7+7t3zPt/n4AIGdy7EGromUAAAAGYktHRACmAKYApuRk9kYAAAAJcEhZcwAACxMAAAsTAQCanBgAAABlSURBVCjP1ZLRCoAgDEXPDT82+6D63NtLwlom5FsDQeY5m0wFmIkoALb1RZLkhckoudIIjjcrbwc/6zgqNN1x+jm4fk5e1Ta2AdYu04AAbk0OUn1wOZHkrmT7PpwwpF1S2x895gS75m5HM9xjCAAAAABJRU5ErkJggg==');
--notificationsiconactive: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9btSIVwXYQcchQnSyIFnEsVSyChdJWaNXB5NIvaNKQpLg4Cq4FBz8Wqw4uzro6uAqC4AeIq4uToouU+L+k0CLGg+N+vLv3uHsHeJtVphg9MUBRTT2diAu5/Krgf0UfhhFEFFMiM7RkZjEL1/F1Dw9f7yI8y/3cn2NQLhgM8AjEMabpJvEG8eymqXHeJw6xsigTnxNP6nRB4keuSw6/cS7Z7OWZIT2bnicOEQulLpa6mJV1hThKHJYVlfK9OYdlzluclWqdte/JXxgoqCsZrtMcQwJLSCIFARLqqKAKExFaVVIMpGk/7uIftf0pcknkqoCRYwE1KBBtP/gf/O7WKM5MO0mBOND7Ylkf44B/F2g1LOv72LJaJ4DvGbhSO/5aE5j7JL3R0cJHwNA2cHHd0aQ94HIHGHnSRF20JR9Nb7EIvJ/RN+WB4C0wsOb01t7H6QOQpa6Wb4CDQ2CiRNnrLu/u7+7t3zPt/n4AIGdy7EGromUAAAAGYktHRABmACQA4p5xVPoAAAAJcEhZcwAACxMAAAsTAQCanBgAAABWSURBVCjP1ZFBDoBACAM7Zj+7PkifWy9q0EUPnJSkCZCStgFJVqEmFat82OJgmzcycMaimvFjilFhUP/PH2X7Aknzbj+iD7z7IjnuGac9uFiAo18zzgZmqlStgoYtqgAAAABJRU5ErkJggg==');

*/
