/* Still a lot to be skinned */

:root {
  --scrollbarSize: 15px;
  
  --focus: 102, 36, 226; /* Default Metro skin purple accent */
  /* 0, 114, 198; /* Blue accent option */
  --clientBG: 26, 26, 26;
  --header_dark: 20, 20, 20;
  --online: 93, 178, 255;
  --ingame: 130, 186, 0;
  --offline: 145, 145, 145;
  --golden: 255, 255, 99;
  --scrollbarSize: 15px;
  --scroll: 32, 32, 32;
  --textentry: 39, 39, 39;
  --white05: 255, 255, 255, .05;
  --white10: 255, 255, 255, .1;
  --white12: 255, 255, 255, .12;
  --white24: 255, 255, 255, .24;
  --white25: 255, 255, 255, .25;
  --white50: 255, 255, 255, .5;
  --white75: 255, 255, 255, .75;
  --white: 255, 255, 255;
  --black45: 38, 38, 38;
  --border: 15, 15, 15;
  --textentrybuttons: 200, 200, 200;
}

*{
	box-shadow: none !important;	
	border-radius: 0 !important;
}

body, body.shared_common_v6_2Lxgd {
	background: rgb(var(--clientBG));
}

.libraryhome_UpdatesContainer_17uEB, .libraryhome_LibraryHome_3Sb2o, .allcollections_ScrollContainer_u1xD3 {
	background: rgb(var(--clientBG));
}

.pagedsettings_PagedSettingsDialog_PageListItem_bkfjn, .pagedsettings_PagedSettingsDialog_PageListItem_bkfjn:not(.pagedsettings_Active_Myra7):hover {
	text-transform: none;
    font-size: 14px;
    margin-bottom: 3px;
    padding: 5px 15px;
    cursor: default;
	color: rgb(140, 140, 140); /* To convert to a variable */ 
}

.libraryhome_LibraryHome_3Sb2o {
	background-image: none;
}

.gamelistbar_GameListHomeAndSearch_2TKEa {
	background-color: transparent;
}

.pagedsettings_PagedSettingsDialog_PageListColumn_RTicB {
	background: rgb(var(--header_dark));
    padding-left: 0px;
    min-width: 205px;
}

.DialogContent, .DialogContentTransition {
	background: rgb(var(--clientBG));
}

.appproperties_AppProperties_1FyBL .appproperties_Checkbox_2V2nc, .DialogTextInputBase, ._DialogInputContainer {
	color: rgb(var(--white50));
    background: rgb(var(--textentry));
}

.library_LibraryWindowDivider_276E6 {
    background-color: rgb(var(--border));
}

.gamelistbar_Container_3x1Hk {
    background-image: none;
    background: rgb(var(--black45));
}

.gamelistsectionheader_Container_2sYIg {
    background: none;
}

.gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z :hover, .gamelistsectionheader_Container_2sYIg.gamelistsectionheader_Selected_sXMOs {
    background-color: rgb(var(--focus))!important;
}	

.gamelistsectionheader_SectionHeaderContent_3cV3O {
    color: rgb(var(--white));
}

.gamelistsectionheader_SectionName_2mZ8L {
    font-weight: bold;
}

.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z :hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistsectionheader_Container_2sYIg:hover, .gamelistsectionheader_Container_2sYIg:hover {
    background-color: rgba(var(--white05));
}

.gamelistentry_Container_2-O4Z.gamelistentry_Installed_2ws8D, .appdetailsplaysection_PlayBarLabel_34lrt {
	color: rgb(var(--white));
}

button.DialogButton {
	color: rgb(var(--white));
    background-color: rgba(var(--white12));
}

button.DialogButton:hover {
	color: rgb(var(--white));
    background-color: rgba(var(--white24));
}

.ModalPosition_TopBar {
	display: none;
}

.downloadgraph_HeroAndLogo_3mZ2r.downloadgraph_Empty_pHDI1 {
	background: none;
}

.downloadgraph_GraphAndStats_3KDkL {
	background-color: rgb(var(--clientBG));
}

div.MediumWindow .downloadgraph_DownloadGraph_1BxZD .downloadgraph_Gradient_RfMM3 {
	background-image: none;
}

.downloads_DownloadsPage_1bq4x, .library_AppDetailsTransitionGroup_2Dd4T {
	background: none;
}

.downloads_SectionItem_1VNuY.downloads_Active_IbePL, .appdetailscommunityfeed_CommunityItem_3QS6O, [class*="appportrait_RecentGameFooter_"] {
    background-color: rgb(var(--white05));
}

.downloads_Active_IbePL .downloads_SectionList_OINnO {
    border: 2px transparent;
}

.downloads_SectionItem_1VNuY:hover, .downloads_SectionItem_1VNuY.downloads_Dragging_3-SbB {
    background-color: rgb(var(--white10));
}

.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA .posttextentry_Label_3jvEk {
	color: rgb(var(--white));
}

.gamelisthome_Bar_3pSPl {
    background-color: rgb(var(--white12));
	color: rgb(var(--white));
}

.gamelisthome_Bar_3pSPl:hover {
    background-color: rgb(var(--white24));
}

.downloads_TopBar_SEmVp {
    background: none;
}

.downloads_SectionTitle_qq2xI .downloads_Rule_1CTr1, .writereview_RatingContainer_2SAb6 {
	background-color: transparent;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase, .gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY, .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m {
	background-color: rgb(var(--transparent));
}

/*[class*="gamelistsearchbar_Container_"] {
	padding-bottom: 6px;
	border-bottom: 1px solid rgb(var(--border));
    border-top: 1px solid rgb(var(--border));
}
*/

.downloads_SectionItem_1VNuY .downloads_Button_3oavR, .downloads_SectionItem_1VNuY .downloads_Button_3oavR:enabled, .downloads_SectionItem_1VNuY .downloads_Button_3oavR:active, .downloads_SectionItem_1VNuY .downloads_Button_3oavR:hover, .downloads_SectionItem_1VNuY .downloads_Button_3oavR:enabled:active:hover, .downloads_SectionItem_1VNuY .downloads_Button_3oavR.DialogButton:enabled {
	border-radius: 50%!important;
}

.gamelistentry_Container_2-O4Z.gamelistentry_Uninstalled_5YTBr {
    color: rgb(var(--white50)); /*change to one with no transparency*/
}

/* Steam logo removal */
.gamelisthome_Bar_3pSPl .gamelisthome_Icon_1ooRO svg {
	display: none;
}

.appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_RightColumnSection_3KfxI, .appactivityday_PartnerEvent_1AYE1, .appactivityday_PartnerEventMediumImage_Container_1HZy7:hover, [class*="appactivityday_Event_"] [class*="appactivityday_EventBody_"], [class*="appdetailscommunityfeed_Guide_"] [class*="appdetailscommunityfeed_TopSectionInner_"], [class*="appdetailscommunityfeed_AuthorSection_"] {
	background: rgb(var(--white05));
}

.appactivityday_PartnerEventTextOnly_3QRf- {
	background: rgb(var(--white05));
    border-image: none;
}

.collectionview_OuterContainer_2sNr7 {
	background: none;
}

.appactivityday_PartnerEventMediumImage_Container_1HZy7 {
	background: none;
}

.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_ColumnContainer_OhSdL, .appdetailsplaysection_Glassy_3DeO9 .appdetailsplaysection_PlayBar_3fLo1, .appdetails_ScrollContainer_2l416 {
	background: rgb(var(--clientBG));
}

.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA, .posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D button.posttextentry_EmoticonButton_bACIu {
	background-color: rgb(var(--white10));
}

.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA:hover, .posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D button.posttextentry_EmoticonButton_bACIu:hover {
    background-color: rgb(var(--white24));
}

.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_EmoticonButton_bACIu {
	cursor: default;
}

.posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2 {
	background: rgb(var(--textentry));
}

.downloads_RemoveAllButton_1GdR5.downloads_RemoveAllButton_1GdR5.DialogButton:enabled, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:enabled, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:active, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:hover, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:enabled:active:hover, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8.DialogButton:enabled {
	background: rgb(var(--white10));
}

.downloads_RemoveAllButton_1GdR5.downloads_RemoveAllButton_1GdR5:hover.DialogButton:enabled, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:hover {
    background: rgb(var(--white24));
}

.pagedsettings_PagedSettingsDialog_Title_3qEgQ {
	color: rgb(var(--white));
    font-size: 16px;
    text-transform: none;
    margin-left: 15px;
    margin-top: -3px;
    font-weight: 200;
}

.pagedsettings_PagedSettingsDialog_PageListItem_bkfjn.pagedsettings_Active_Myra7 {
	background-color: rgb(var(--white25));
    color: rgb(var(--white));
}

.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_BackdropGlass_Jbe-- {
	display: none;
}

.appdetailsplaysection_Glassy_3DeO9.appdetailsplaysection_PlayBar_3fLo1, .appdetailsprimarylinkssection_LinksSection_3-V8v, div.LowPerfMode .appdetailsplaysection_Glassy_3DeO9.appdetailsplaysection_PlayBar_3fLo1 {
    background: rgb(var(--clientBG));
}


[class*="libraryhome_Container_"] {
    background: rgb(var(--clientBG));
}


[class*="appdetails_Glassy_"] [class*="appdetails_ScrollContainer_"] {
    background-image: none;
}

.collapseicon_CollapseIconParent_ehAsU .collapseicon_Container_3SFRZ {
	stroke: rgb(var(--white25));
}

.gamelistentry_FriendIsPlaying_cNZ3w svg circle, .gamelistentry_FriendIsPlaying_cNZ3w svg path {
    fill: rgb(var(--ingame));
}

[class*="gamelistentry_Container_"][class*="gamelistentry_Running_"] {
	color: rgb(var(--ingame));
}

.gamelisthome_CollectionIcon_nC-pL .gamelisthome_CollectionIconBox_2tyaV {
	background: rgb(var(--white));
}

[class*="gamelisthome_Label_"], [class*="spotlightgameplaysummary_GamePlaySummaryHeader_"], [class*="appdetailssectionheader_SectionHeader_"], [class*="pageablecontainer_HeaderPageControls_"], [class*="libraryhomeshowcases_CollectionDropDown_"] ._DialogInputContainer {
	color: rgb(var(--white));
}

[class*="gamelistentry_Container_"] {
	cursor: default;
}

[class*="steamavatar_avatarHolder_"]:hover {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: var(--scrollbarSize)!important;
}

::-webkit-scrollbar-thumb {
	background: rgba(var(--white05))!important;
	border: none!important;
	border-radius: 0 !important;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(var(--white10)) !important;
	border-radius: 0px !important;
}

[class*="appportrait_FooterBlurImageContainer_"] {
	filter: opacity(0);
}

[class*="appportrait_LibraryItemBoxShine_"] {
	display: none;
}

[class*="appportrait_HoversEnabled_"] [class*="appportrait_LibraryItemBox_"]:hover:not([class*="appportrait_Landscape_"]) {
	filter: none;
	transform: scale(1.08);
}

[class*="smartscrollcontainer_ScrollToTopButton_"] div {
	background: rgb(var(--focus));
}

[class*="smartscrollcontainer_ScrollToTopButton_"] {
	color: rgb(var(--white));
}

[class*="appdetailsplaysection_MenuButton_"] svg {
    fill: rgba(var(--white));
    color: rgba(var(--white));
}

[class*="appdetailsplaysection_MenuButton_"] svg circle, [class*="appdetailsplaysection_MenuButton_"] svg polyline, [class*="appdetailsplaysection_MenuButton_"][class*="appdetailsplaysection_FavoriteButton_"] svg path {
	stroke: rgba(var(--white));
}

/* Filter buttons colors

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg path, .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg line, .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg polyline, .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg circle {
	stroke: rgb(var(--focus));
}

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg {
    fill: rgb(var(--focus));
}
*/
