@import url( 'custom.css');
:root {
    --basefont: "Segoe UI","Helvetica Neue","Motiva Sans",Arial,Helvetica,sans-serif;
    --semibold: "Segoe UI Semibold","Helvetica Neue Medium","Motiva Sans","Arial Bold","Helvetica Bold",sans-serif;
    --semilight: "Segoe UI Semilight","Helvetica Neue Light","Motiva Sans","Arial Light","Helvetica Light",sans-serif;
    --scrollbarSize: 15px;
    --focus: 102, 36, 226;
    /* Default Metro skin purple accent */
    --clientBG: 26, 26, 26;
    --header_dark: 20, 20, 20;
    --frameBorder: 15, 15, 15;
    --online: 93, 178, 255;
    --ingame: 130, 186, 0;
    --offline: 145, 145, 145;
    --golden: 255, 255, 99;
    --textentry: 39, 39, 39;
    --white03: 255, 255, 255, 0.03;
    --white05: 255, 255, 255, 0.05;
    --white08: 255, 255, 255, 0.08;
    --white10: 255, 255, 255, 0.10;
    --white12: 255, 255, 255, 0.12;
    --white20: 255, 255, 255, 0.20;
    --white24: 255, 255, 255, 0.24;
    --white25: 255, 255, 255, 0.25;
    --white35: 255, 255, 255, 0.35;
    --white45: 255, 255, 255, 0.45;
    --white50: 255, 255, 255, 0.50;
    --white75: 255, 255, 255, 0.75;
    --white: 255, 255, 255;
    --black05: 255, 255, 255, 0.05;
    --black10: 0, 0, 0, 0.10;
    --black12: 0, 0, 0, 0.12;
    --black20: 0, 0, 0, 0.20;
    --black24: 0, 0, 0, 0.24;
    --black25: 0, 0, 0, 0.25;
    --black45: 0, 0, 0, 0.45;
    --black50: 0, 0, 0, 0.50;
    --black75: 0, 0, 0, 0.75;
    --black: 0, 0, 0;
    --red: 255, 0, 0;
}

* {
    cursor: default !important;
    box-shadow: none !important;
}

.recentName {
    color: rgb(var(--white));
}

.PP7LM0Ow1K5qkR8WElLpt {
    background: rgb(var(--clientBG))!important;
    padding: 0;
}

html._14wqdluDeDnnEcg3OSLEmd ._2EstNjFIIZm_WUSKm5Wt7n {
    padding: 0 !important;
}

._2EstNjFIIZm_WUSKm5Wt7n {
    font-size: 12px !important;
}

.PP7LM0Ow1K5qkR8WElLpt::after {
    border: 1px solid rgb(var(--frameBorder));
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    content: '';
    z-index: 200;
    pointer-events: none;
}

/* [class*="contextmenu_contextMenuItem_"] */
._1n7Wloe5jZ6fSuvV18NNWI {
    padding: 4px 10px !important;
    line-height: 16px !important;
    color: rgb(var(--white)) !important;
    border-top: none !important;
    border-bottom: none !important;
}

._1n7Wloe5jZ6fSuvV18NNWI._2RlEO6dx1vo3OB7EFJnzDi .SVGIcon_DownArrowContextMenu {
    fill: rgb(var(--white));
    margin-right: -8px;
}

.WUOrULWKkGLl3ZUQdDXg8.WUOrULWKkGLl3ZUQdDXg8+._1n7Wloe5jZ6fSuvV18NNWI,
.contextMenuGameTitle {
    border-top: 1px solid rgb(var(--white12))!important;
}

.contextMenuGameItem {
    -webkit-mask: linear-gradient(to right, rgb(var(--black)) 100%, rgba(0, 0, 0, 0) 100%) !important;
}

.contextMenuGameName {
    color: rgb(var(--white)) !important;
}
.contextMenuBroadcast,
.contextMenuGameOptions,
.contextMenuGameTitle,
.contextMenuUnselectable:hover {
    background-color: transparent !important;
}
._1n7Wloe5jZ6fSuvV18NNWI._18z-3vkWndCBO5WJgFldRK,
._1n7Wloe5jZ6fSuvV18NNWI:hover {
    background: rgba(var(--white05)) !important;
}

.contextMenuGameOptions .SVGIcon_Play {
    display: none !important;
}

._2P-W-7p-jFhKaomvy0by-z {
    display: none;
    /* Game icons hidden from the tray context menu, as in the original Metro */
}
._1n7Wloe5jZ6fSuvV18NNWI.disabled:hover {
    background: none !important;
}

/* Mindless move: */

.PP7LM0Ow1K5qkR8WElLpt .Cancel svg path,
.PP7LM0Ow1K5qkR8WElLpt .Uninstall svg path {
    stroke: rgb(var(--white));
}

/* [class*="contextmenu_contextMenu_"] .compactView .avatar */
.PP7LM0Ow1K5qkR8WElLpt .compactView .avatar {
    padding: 0 !important;
}

/* [class*="contextmenu_contextMenuContents_"] .Play svg */
/* [class*="contextmenu_contextMenuContents_"] .Pause svg */
._2EstNjFIIZm_WUSKm5Wt7n .Play svg,
._2EstNjFIIZm_WUSKm5Wt7n .Pause svg {
    fill: rgb(var(--white));
}

/* [class*="contextmenu_contextMenuContents_"] .Stop svg line */
._2EstNjFIIZm_WUSKm5Wt7n .Stop svg line {
    stroke: rgb(var(--white));
}

/* [class*="contextmenu_contextMenuItem_"][class*="contextmenu_SubMenu_"] */
._1n7Wloe5jZ6fSuvV18NNWI._2RlEO6dx1vo3OB7EFJnzDi {
    padding-right: 0;
}

/* .DesktopUI [class*="contextmenu_contextMenuItem_"]:hover, .DesktopUI [class*="contextmenu_contextMenuItem_"][class*="contextmenu_active_"], [class*="contextmenu_ForceDesktop_"] [class*="contextmenu_contextMenuItem_"]:hover, [class*="contextmenu_ForceDesktop_"] [class*="contextmenu_contextMenuItem_"][class*="contextmenu_active_"] */
.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI._18z-3vkWndCBO5WJgFldRK,
.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI:hover,
._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI._18z-3vkWndCBO5WJgFldRK,
._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI:hover,
/* [class*="menu_MenuWrapper_"][class*="menu_MenuOpen_"] */
._2Lu3d-5qLmW4i19ysTt2jT._3rgV8pPmQvZC-01x9l-q-N {
    background: rgb(var(--white05));
}

/* .DesktopUI [class*="contextmenu_contextMenuItem_"].disabled, [class*="contextmenu_ForceDesktop_"] [class*="contextmenu_contextMenuItem_"].disabled */
.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI.disabled,
._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI.disabled {
    color: rgb(var(--white50)) !important;
    /* Random, needs a proper reference color from the original Metro */
}

/* [class*="appactionbutton_StreamingContextMenuItem_"][class*="contextmenu_contextMenuItem_"].contextMenuItem svg */
._9zjx5-sflx5lN6kHWM5Mw._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem svg {
    fill: rgb(var(--white));
    stroke: rgb(var(--white));
}

/* .DesktopUI [class*="contextmenu_contextMenuItem_"]:first-child, [class*="contextmenu_ForceDesktop_"] [class*="contextmenu_contextMenuItem_"]:first-child */
.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI:first-child,
._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI:first-child {
    border-top: 1px solid transparent;
    /* Valve probably remove this for the sake of the library dropdown menus but it also removes the border from the tray context menu. The border is present in both places in the original Metro */
}

._1n7Wloe5jZ6fSuvV18NNWI .SVGIcon_Button {
    fill: rgb(var(--white));
}

/* [class*="contextmenu_contextMenuItem_"] li:nth-child(2) */
._1n7Wloe5jZ6fSuvV18NNWI li:nth-child(2) {
    display: none !important;
}

.IjIBR_wDDi2N77Oz4KAT4 {
    border-bottom: 0.1px solid rgb(var(--white12));
}

/* [class*="menu_MenuWrapper_"][class*="supernav_SuperNavMenu_"][class*="supernav_Selected_"] */
._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ {
    border-bottom: 1px solid rgb(var(--focus));
}

/* [class*="menu_MenuPopup_"] */
._3pofGqV0buiKAfMPEs3_82 {
    background: transparent;
}

/* [class*="menu_MenuItem_"][class*="menu_Item_"]:hover */
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG:hover {
    background-color: rgb(var(--white05));
}

/* [class*="menu_MenuItem_"][class*="menu_Separator_"] */
._2jXHP0742MyApMUVUM8IFn._21GPYlKBCLsHQpTsHw_RL_ {
    border-bottom: 1px solid rgb(var(--white12)) !important;
}

/* [class*="rootmenu_RootMenuBar_"]:hover */
._1Ky59qmywxOUtNcI1cgmkX:has(._3rgV8pPmQvZC-01x9l-q-N),
._1Ky59qmywxOUtNcI1cgmkX:hover {
    background: rgb(var(--header_dark));
    box-shadow: 0 1px rgb(var(--frameBorder)) !important;
    width: 100%;
    transition-delay: 0.25s !important;
}

._3EvKu7VyTGMoDtbyugKQ5H {
    background: rgb(var(--focus));
    margin-left: -6px;
    margin-right: 2px;
}

._3BuInduVWVTbAXRVAeMjD- {
    color: rgb(var(--white75));
}

.contextMenuItem ._2QcdrheE9WasLLyJYHymUv._54dy2uxVcadf_1e6Poifs {
    color: rgb(var(--ingame));
}

.DialogCheckbox.Active svg path {
    stroke: rgb(var(--white));
    filter: none;
}

.DialogCheckbox {
    background-color: rgb(var(--white08));
}
.DialogCheckbox:focus:not(.Disabled),
.DialogCheckbox:hover:not(.Disabled),
.DialogCheckbox_Container:focus .DialogCheckbox:not(.Disabled),
.DialogCheckbox_Container:hover .DialogCheckbox:not(.Disabled) {
    background-color: rgba(var(--white), .17);
}
