@import url('custom.css');

:root {
    --chatfont: 13px; /* Font size for chat messages */
    --basefont: "Segoe UI","Helvetica Neue","Motiva Sans",Arial,Helvetica,sans-serif;
    --semibold: "Segoe UI Semibold","Helvetica Neue Medium","Motiva Sans","Arial Bold","Helvetica Bold",sans-serif;
    --semilight: "Segoe UI Semilight","Helvetica Neue Light","Motiva Sans","Arial Light","Helvetica Light",sans-serif;
    --scrollbarSize: 15px;
    --focus: 102, 36, 226; /* Default Metro skin purple accent */
    --W10close_Red_h: 232, 18, 35; /* Window close button color on hover */
    --W10close_Red_p: 241, 112, 121; /* Window close button color when pressed */
    --clientBG: 26, 26, 26;
    --header_dark: 20, 20, 20;
    --frameBorder: 15, 15, 15;
    --online: 93, 178, 255;
    --ingame: 130, 186, 0;
    --offline: 145, 145, 145; /* Originally white45 but that makes it too bold */
    --golden: 255, 255, 99;
    --textentry: 39, 39, 39;
    --white03: 255, 255, 255, 0.03;
    --white05: 255, 255, 255, 0.05;
    --white08: 255, 255, 255, 0.08;
    --white10: 255, 255, 255, 0.10;
    --white12: 255, 255, 255, 0.12;
    --white20: 255, 255, 255, 0.20;
    --white24: 255, 255, 255, 0.24;
    --white25: 255, 255, 255, 0.25;
    --white35: 255, 255, 255, 0.35;
    --white45: 255, 255, 255, 0.45;
    --white50: 255, 255, 255, 0.50;
    --white75: 255, 255, 255, 0.75;
    --white: 255, 255, 255;
    --black05: 255, 255, 255, 0.05;
    --black10: 0, 0, 0, 0.10;
    --black12: 0, 0, 0, 0.12;
    --black20: 0, 0, 0, 0.20;
    --black24: 0, 0, 0, 0.24;
    --black25: 0, 0, 0, 0.25;
    --black45: 0, 0, 0, 0.45;
    --black50: 0, 0, 0, 0.50;
    --black75: 0, 0, 0, 0.75;
    --black: 0, 0, 0;
    --red: 255, 0, 0;
}

/* [class*="desktoptoasts_DesktopToastPopup_"]:hover::before */
._1OOQPJx0nCNP9ME9toCmV7:hover::before {
    opacity: 1;
}

/* [class*="desktoptoasts_DesktopToastPopup_"]::before */
._1OOQPJx0nCNP9ME9toCmV7::before {
    background: rgb(var(--white05));
}

/* [class*="standardtemplates_AllNotificationsTemplate_"] [class*="standardtemplates_StandardNotificationDescription_"], [class*="standardtemplates_StandardTemplateDesktop_"] [class*="standardtemplates_StandardNotificationDescription_"], [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_StandardNotificationDescription_"], [class*="standardtemplates_PinnedTemplateWeb_"] [class*="standardtemplates_StandardNotificationDescription_"], [class*="standardtemplates_PinnedTemplateDesktop_"] [class*="standardtemplates_StandardNotificationDescription_"] */
._2m9JUBWfx2mQPWn_3xDhsF ._1Ldq1r-UGZ0EzO6Ygynz0j, ._1tsEfG-JyQFR7Un1HPOt98 ._1Ldq1r-UGZ0EzO6Ygynz0j, ._3CGHgMXRIoyrljmStDoKuf ._1Ldq1r-UGZ0EzO6Ygynz0j, .MmdBjSLHW3AVSShFBJVNt ._1Ldq1r-UGZ0EzO6Ygynz0j, ._2caCrhFIrYqRuguK-cB6be ._1Ldq1r-UGZ0EzO6Ygynz0j {
    color: rgb(var(--white));
}

/* [class*="standardtemplates_AllNotificationsTemplate_"] [class*="standardtemplates_Timestamp_"], [class*="standardtemplates_StandardTemplateDesktop_"] [class*="standardtemplates_Timestamp_"], [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_Timestamp_"], [class*="standardtemplates_PinnedTemplateWeb_"] [class*="standardtemplates_Timestamp_"], [class*="standardtemplates_PinnedTemplateDesktop_"] [class*="standardtemplates_Timestamp_"],
[class*="standardtemplates_StandardTemplateContainer_"]:hover [class*="standardtemplates_Timestamp_"], [class*="standardtemplates_StandardTemplateContainer_"].gpfocus [class*="standardtemplates_Timestamp_"] */
._2m9JUBWfx2mQPWn_3xDhsF ._2vSvCQ4iDKoGIZIIv7oOUZ, ._1tsEfG-JyQFR7Un1HPOt98 ._2vSvCQ4iDKoGIZIIv7oOUZ, ._3CGHgMXRIoyrljmStDoKuf ._2vSvCQ4iDKoGIZIIv7oOUZ, .MmdBjSLHW3AVSShFBJVNt ._2vSvCQ4iDKoGIZIIv7oOUZ, ._2caCrhFIrYqRuguK-cB6be ._2vSvCQ4iDKoGIZIIv7oOUZ, ._1adpxcygOBVfskfCQESLZg:hover ._2vSvCQ4iDKoGIZIIv7oOUZ, ._1adpxcygOBVfskfCQESLZg.gpfocus ._2vSvCQ4iDKoGIZIIv7oOUZ {
    color: rgb(var(--white50));
}

/* [class*="standardtemplates_AllNotificationsTemplate_"] [class*="standardtemplates_Icon_"], [class*="standardtemplates_StandardTemplateDesktop_"] [class*="standardtemplates_Icon_"], [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_Icon_"], [class*="standardtemplates_PinnedTemplateWeb_"] [class*="standardtemplates_Icon_"], [class*="standardtemplates_PinnedTemplateDesktop_"] [class*="standardtemplates_Icon_"] */
._2m9JUBWfx2mQPWn_3xDhsF ._19g_L-qkP3q7SDkgXAgoli, ._1tsEfG-JyQFR7Un1HPOt98 ._19g_L-qkP3q7SDkgXAgoli, ._3CGHgMXRIoyrljmStDoKuf ._19g_L-qkP3q7SDkgXAgoli, .MmdBjSLHW3AVSShFBJVNt ._19g_L-qkP3q7SDkgXAgoli, ._2caCrhFIrYqRuguK-cB6be ._19g_L-qkP3q7SDkgXAgoli {
    color: rgb(var(--white50));
}

/* [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_IngameTitle_"],
[class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_FriendInGameAppColor_"] */
._3CGHgMXRIoyrljmStDoKuf ._1wh9oefq1NyhdLO90w-PQx, ._3CGHgMXRIoyrljmStDoKuf ._19RnFywpjvazA8eaSDKXs0 {
    color: rgb(var(--ingame));
}

/* [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_OnlineTitle_"],
[class*="notificationcontent_FriendOnlineColor_"] */
._3CGHgMXRIoyrljmStDoKuf .bpePVKH1Q8LO-a10l0-32, ._37hLxvdcAXgmMgHdTwlz3b {
    color: rgb(var(--online));
}

/* [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_GroupMessageUserName_"] */
._3CGHgMXRIoyrljmStDoKuf ._2cDEkUd8CcHhB2pCRgBcSS {
    color: rgb(var(--white)); /* As in Valve's */
}

/* [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_GroupMessageBody_"] [class*="standardtemplates_GroupMessageIcon_"] */
._3CGHgMXRIoyrljmStDoKuf ._2jxGpPAeshBjrEvUpgC2xB ._1pJtWelYxtxq4-f9eGMsHF {
    display: none;
}

/* [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_GroupMessageBody_"] */
._3CGHgMXRIoyrljmStDoKuf ._2jxGpPAeshBjrEvUpgC2xB {
    color: rgb(var(--white50));
}

/* [class*="desktoptoasts_DesktopToastPopup_"] */
._1OOQPJx0nCNP9ME9toCmV7 {
    background: rgb(var(--clientBG));
}

/* [class*="desktoptoasts_DesktopToastBackground_"] */
._3RkGkNRNheAkoRA3migph5 {
    display: none;
}

/* [class*="standardtemplates_AllNotificationsTemplate_"] [class*="standardtemplates_Title_"], [class*="standardtemplates_StandardTemplateDesktop_"] [class*="standardtemplates_Title_"], [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_Title_"], [class*="standardtemplates_PinnedTemplateDesktop_"] [class*="standardtemplates_Title_"] */
._2m9JUBWfx2mQPWn_3xDhsF ._1WlRE1q-W8WeQXa6LQ0Fw2, ._1tsEfG-JyQFR7Un1HPOt98 ._1WlRE1q-W8WeQXa6LQ0Fw2, ._3CGHgMXRIoyrljmStDoKuf ._1WlRE1q-W8WeQXa6LQ0Fw2, ._2caCrhFIrYqRuguK-cB6be ._1WlRE1q-W8WeQXa6LQ0Fw2 {
    color: rgb(var(--white50));
}

/* [class*="standardtemplates_AllNotificationsTemplate_"] [class*="standardtemplates_StandardNotificationSubText_"], [class*="standardtemplates_StandardTemplateDesktop_"] [class*="standardtemplates_StandardNotificationSubText_"], [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_StandardNotificationSubText_"], [class*="standardtemplates_PinnedTemplateDesktop_"] [class*="standardtemplates_StandardNotificationSubText_"] */
._2m9JUBWfx2mQPWn_3xDhsF ._2XcN2JborbQvIZhYakQnO6, ._1tsEfG-JyQFR7Un1HPOt98 ._2XcN2JborbQvIZhYakQnO6, ._3CGHgMXRIoyrljmStDoKuf ._2XcN2JborbQvIZhYakQnO6, ._2caCrhFIrYqRuguK-cB6be ._2XcN2JborbQvIZhYakQnO6 {
    color: rgb(var(--white50));
}

/* [class*="standardtemplates_AvatarStatus_"].online */
._2yhOCNV9s2fKohW8wqWRTY.online {
    background-color: rgb(var(--online));
}

/* [class*="standardtemplates_AvatarStatus_"].ingame */
._2yhOCNV9s2fKohW8wqWRTY.ingame {
    background-color: rgb(var(--ingame));
}

/* [class*="standardtemplates_AvatarStatus_"].offline */
._2yhOCNV9s2fKohW8wqWRTY.offline {
    background-color: rgb(var(--offline));
}

/* [class*="standardtemplates_AvatarStatus_"] */
._2yhOCNV9s2fKohW8wqWRTY {
    width: 2px;
}

/* [class*="notificationcontent_AchievementTextSection_"] [class*="notificationcontent_Name_"] */
.mJ3Nu2ja1CSqf_qU1GD_b ._1juF1NbXeVbg06v1506lgi {
    color: rgb(var(--white));
}
