/* Experimental, adapted from Unofficial Patch for Metro */

--W10close_Red_h: 232, 18, 35;
--W10close_Red_p: 241, 112, 121;
--clientBG: 230, 230, 230;
--header_dark: 255, 255, 255;
--frameBorder: 160, 160, 160;
--textentrybuttons: 35, 50, 50;
--online: 66, 104, 255;
--ingame: 94, 150, 15;
--offline: 0, 0, 0, 0.45;
--golden: 255, 255, 99;
--scroll: 0, 0, 0, 0.05;
--textentry: 207, 207, 207;

--white03: 0, 0, 0, 0.03;
--white05: 0, 0, 0, 0.05;
--white08: 0, 0, 0, 0.08;
--white10: 0, 0, 0, 0.10;
--white12: 0, 0, 0, 0.12;
--white15: 0, 0, 0, 0.15;
--white20: 0, 0, 0, 0.20;
--white24: 0, 0, 0, 0.24;
--white25: 0, 0, 0, 0.25;
--white35: 0, 0, 0, 0.35;
--white45: 0, 0, 0, 0.45;
--white50: 0, 0, 0, 0.50;
--white75: 0, 0, 0, 0.75;
--white: 0, 0, 0;

--black03: 255, 255, 255, 0.03;
--black08: 255, 255, 255, 0.08;
--black05: 255, 255, 255, 0.05;
--black10: 255, 255, 255, 0.10;
--black12: 255, 255, 255, 0.12;
--black15: 255, 255, 255, 0.15;
--black20: 255, 255, 255, 0.20;
--black24: 255, 255, 255, 0.24;
--black35: 255, 255, 255, 0.35;
--black25: 255, 255, 255, 0.25;
--black45: 255, 255, 255, 0.45;
--black75: 255, 255, 255, 0.75;
--black: 255, 255, 255;